<meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 <div class="form-gap"></div>
<div class="container">
	<div  class="row">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="text-center">Diaper Change</h2>
                  <% if(typeof user_msg == "undefined") { %>
                  <p style="font-family: cursive;">You can reset your password here.</p>
                  <div class="panel-body">
                      <h5 style="color:red" id="passwrd-error">
                               
                        </h5>
                    <!-- <form id="form_reset" action="/password_match" method="POST"   >
    
                      <div class="form-group">
                      
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock color-green"></i></span>
                            <input class="au-input au-input--full" type="password" id="password1" name="password" placeholder="Password">
                        </div>
                        <div class="input-group">
                            <label>Confirm Password</label>
                            <input class="au-input au-input--full" type="password" id="password2" name="password2" placeholder="Password">
                            <input type="hidden" name="object_id" id="object_id">
                            <input type="hidden" name="key" id="key">
                        </div>
                      </div>
                      <div class="form-group">
                        <input name="recover-submit" class="btn btn-lg btn-primary btn-block button-style"  type="submit">
                      
                    </div>
                      
                     
                    </form> -->
                    <form   class="form"  id="form_reset" action="/password_match" method="POST">
                        <div class="form-group">
                          <div class="input-group">
                              <span class="input-group-addon"><i class="glyphicon glyphicon-lock color-green"></i></span>
                            <input class="form-control" type="password" id="password2" name="password1" placeholder="Add Password">
                           </div>
                          </div>
                        <div class="form-group">
                        <div class="input-group">
                        
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock color-green"></i></span>
                            <input class="form-control"  type="password" id="password1" name="password" placeholder="Confirm Password">
                      
                            <input type="hidden" name="object_id" id="object_id">
                            <input type="hidden" name="key" id="key">
                        </div>
                        </div>
                        <!-- <button  style="    color: #fff;
                        background-color: #00bcd4!important;
                        box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 12px -5px rgba(0,188,212,.46);" class="au-btn au-btn--block au-btn--green m-b-20" type="submit">Submit</button> -->
                        <div class="form-group">
                         
			                          <button  style="   width: 100%;
    height: 38px;
    color: #fff;
    background-color: #228B22;
    /* border-color: #228B22; */
    box-shadow: 0 4px 20px 0px rgba(8, 8, 8, 0.14), 0 7px 10px -5px #508451;" class="au-btn au-btn--block au-btn--green m-b-20" type="submit">Submit</button>
                        
                      </div>
                    </form>
    
                  </div>
                  <% } else { %>
                    <h5 style="color:red">
                         <p><%= user_msg %></p>
                     </h5>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>

<style>

.button-style{
    background-color: #228B22;
    border-color:#228B22;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px #3c763d;
}
.form-gap {
    
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel-default {
    border-color: #ddd;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px #000000;
    background-color: white;
}
.error-form{
    border-color: #a94442;
}
</style>

<script>
    var url_data = location.search.slice(1).split("&");
    var key = url_data[0].split("=");
    var object_id = url_data[1].split("=");
    $('#object_id').val(object_id[1]);
    $('#key').val(key[1]);
    $("#form_reset").submit(function(){
        var flag = 1;
        var password1 = $('#password1').val();
        var password2 = $('#password2').val();
        if(password1 == ''){
            $('#password1').addClass('error-form');
            $('#password1').css('border-color: #a94442 !important');
            flag = 0;
        }
        if(password2 == ''){
            $('#password2').addClass('error-form');
            flag = 0;
        }
        if(password1 == password2 && password1 != ''){
          $('#password2').addClass('error-form');
          $('#password1').addClass('error-form');
             $('#passwrd-error').html("");
        }else{
            flag = 0;
            $('#password2').addClass('error-form');
            $('#password1').addClass('error-form');
            $('#passwrd-error').html("Password Not Matched");
           
        }
        if(flag == 0){
            return false;
        }
    });
</script>
